p {
    margin: 0px;
} /*p tags used for carriage returns but margins are neutralized*/

.modal-header, .modal-footer {
    background-color: whitesmoke;
}

.form-control:focus,.btn:focus {
outline: none;
box-shadow:none;
border-color: none;
}

.openingCarouselContainer {
    min-height: 250px;
}

.carousel-item {
    color: #ffffff;
    text-align: center;
    min-height: 250px;
    background: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;
    background-position:center center;
    background-size:cover;
}

 .view-petition-result-btn {
    color: #ffffff;
    background-color: #002663;
    border: 1px #9b1c2c solid;
}

.view-petition-result-btn:hover {
    background-color: #ffffff;
    color: #002663;
    border: 1px #002663 solid;
}

.more-details-result-btn, .search-btn, .close-parameter-btn, .close-modal-btn  {
    color: #ffffff;
    background-color: #9b1c2c;
    border: 1px #9b1c2c solid;
}

.more-details-result-btn:hover, .close-parameter-btn:hover {
    background-color: #ffffff;
    color: #9b1c2c;
    border: 1px #9b1c2c solid;
}

.search-btn:hover, .close-modal-btn:hover {
    background-color: whitesmoke;
    color: #9b1c2c;
    border: 1px #9b1c2c solid; 
}

.advanced-search-btn {
    background-color: #002663;
    color: #ffffff;
    border: 1px #002663 solid;
}

.advanced-search-btn:hover {
    background-color: whitesmoke;
    color: #002663;
    border: 1px #002663 solid; 
}

.carouselSlideInfo {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

.carouselPetitionLink {
    color: #ffffff;
    text-decoration: none;
}

.carouselPetitionLink:hover {
    color: rgba(255, 255, 255, 0.86);
    animation: none;
    text-decoration: none;
}

.carouselViewPetitionBtn {
    background-color:#CC0C2F;
    color: #ffffff;
    border: 1px #CC0C2F solid;
    animation: none;
}

.carouselViewPetitionBtn:hover {
    color: #CC0C2F;
    background-color: #ffffff;
    border: 1px #CC0C2F solid;
}

.petition-category-badge {
    color: #ffffff;
    background-color: #002663;
}

.signature-percentage-progress {
    background-color: #002663;
}

.card {
    border: none;
}

.signature-percentage-progress-carousel {
    background-color: #ffffff;
}

.progress-carousel {
    background: rgba(121, 97, 97, 0.616);
}

.title-status {
    text-transform: uppercase;
}

.search-result-details {
    line-height: 1.45em;
    text-transform: capitalize;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background: whitesmoke; 
}
   
::-webkit-scrollbar-thumb {
    background: #CC0C2F;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #9b1c2c; 
}
